@model CNM.Web.ViewModels.NonProfit.CharityContainerViewModel

@{
    var Charity = Model.Charity;
    Model.PageTitle = "Create New Charity";
    Model.PageId = "charity-profile";
}

@section Header {
<div id="header">
    <h2>Create a new profile</h2>
</div>
}

<form method="post">
<fieldset class="two-col clearfix haslegend">
    <span class="legend">Contact Information</span>
    <legend>Contact Information</legend>
    <div class="fieldblock">
        @Html.LabelFor(x => x.Charity.FirstName, "First Name")
        @Html.TextBoxFor(x => x.Charity.FirstName)
        @Html.ValidationMessageFor(x => x.Charity.FirstName)
    </div>
    <div class="fieldblock">
        @Html.LabelFor(x => x.Charity.LastName, "Last Name")
        @Html.TextBoxFor(x => x.Charity.LastName)
        @Html.ValidationMessageFor(x => x.Charity.LastName)
    </div>
    <div class="fieldblock">
        @Html.LabelFor(x => x.Charity.Email)
        @Html.TextBoxFor(x => x.Charity.Email)
        @Html.ValidationMessageFor(x => x.Charity.Email)
    </div>
    <div class="fieldblock">
        @Html.LabelFor(x => x.Charity.OrganizationName, "Organization Name")
        @Html.TextBoxFor(x => x.Charity.OrganizationName)
        @Html.ValidationMessageFor(x => x.Charity.OrganizationName)
    </div>
    <div class="fieldblock">
        @Html.LabelFor(x => x.Charity.Address1, "Address")
        @Html.TextBoxFor(x => x.Charity.Address1)
        @Html.ValidationMessageFor(x => x.Charity.Address1)
    </div>
    <div class="fieldblock">
        @Html.LabelFor(x => x.Charity.Address2, "Address [Line 2]")
        @Html.TextBoxFor(x => x.Charity.Address2)
        @Html.ValidationMessageFor(x => x.Charity.Address2)
    </div>
    <div class="fieldblock">
        @Html.LabelFor(x => x.Charity.City)
        @Html.TextBoxFor(x => x.Charity.City)
        @Html.ValidationMessageFor(x => x.Charity.City)
    </div>
    <div class="fieldblock">
        @Html.LabelFor(x => x.Charity.State)
        @Html.TextBoxFor(x => x.Charity.State)
        @Html.ValidationMessageFor(x => x.Charity.State)
    </div>
    <div class="fieldblock">
        @Html.LabelFor(x => x.Charity.PostalCode)
        @Html.TextBoxFor(x => x.Charity.PostalCode)
        @Html.ValidationMessageFor(x => x.Charity.PostalCode)
    </div>
    <div class="fieldblock">
        @Html.LabelFor(x => x.Charity.Phone)
        @Html.TextBoxFor(x => x.Charity.Phone)
        @Html.ValidationMessageFor(x => x.Charity.Phone)
    </div>
    <div class="fieldblock">
        @Html.LabelFor(x => x.Charity.Website)
        @Html.TextBoxFor(x => x.Charity.Website)
        @Html.ValidationMessageFor(x => x.Charity.Website)
    </div>
    <div class="fieldblock">
        @Html.LabelFor(x => x.Charity.Password)
        @Html.PasswordFor(x => x.Charity.Password)
        @Html.ValidationMessageFor(x => x.Charity.Password)
    </div>
    <div class="fieldblock last">
        @Html.LabelFor(x => x.Charity.IsSearchable)
        @Html.CheckBoxFor(x => x.Charity.IsSearchable)
    </div>
</fieldset>
<fieldset class="haslegend five-col clearfix">
    <span class="legend">Service Information</span>
    <legend>Service Information</legend>
    <ul class="clearfix">
        <li>
            <input id="serv1" type="radio" value="0" name="Charity.YearsService" @(Model.Charity.YearsService.GetValueOrDefault() == 0 ? MvcHtmlString.Create("checked='checked'") : MvcHtmlString.Empty)>
            <label for="serv1">Never served</label>
        </li>
        <li>
            <input id="serv2" type="radio" value="1" name="Charity.YearsService" @(Model.Charity.YearsService.GetValueOrDefault() == 1 ? MvcHtmlString.Create("checked='checked'") : MvcHtmlString.Empty)>
            <label for="serv2">1 - 3 years</label>
        </li>
        <li>
            <input id="serv3" type="radio" value="3" name="Charity.YearsService" @(Model.Charity.YearsService.GetValueOrDefault() == 3 ? MvcHtmlString.Create("checked='checked'") : MvcHtmlString.Empty)>
            <label for="serv3">3 - 5 years</label>
        </li>
        <li>
            <input id="serv4" type="radio" value="5" name="Charity.YearsService" @(Model.Charity.YearsService.GetValueOrDefault() == 5 ? MvcHtmlString.Create("checked='checked'") : MvcHtmlString.Empty)>
            <label for="serv4">5 - 10 years</label>
        </li>
        <li>
            <input id="serv5" type="radio" value="10" name="Charity.YearsService" @(Model.Charity.YearsService.GetValueOrDefault() == 10 ? MvcHtmlString.Create("checked='checked'") : MvcHtmlString.Empty)>
            <label for="serv5">10+</label>
        </li>
    </ul>
</fieldset>
<fieldset class="haslegend four-col clearfix">
    <legend>Required Skills</legend>
    <span class="legend">Required Skills</span>
    @Html.ValidationMessage("serviceareas")
    <ul>
        @for (int i = 0, j = Model.SelectedSkills.Count; i<j; i++) {
            string Name = CNM.EnumExtensions.GetDescription(Model.SelectedSkills[i]);
            string value = ((int)Model.SelectedSkills[i]).ToString();
            <li>
                    <input type="checkbox" name="selectedSkills" value="@value" />
                @Html.Label(Name)
            </li>
        }
    </ul>
</fieldset>
<fieldset class="haslegend four-col clearfix">
    <legend>Required Service Areas</legend>
    <span class="legend">Required Service Areas</span>
    @Html.ValidationMessage("serviceareas")
    <ul>
        @for (int i = 0, j = Model.SelectedAreas.Count; i<j; i++) {
            string Name = CNM.EnumExtensions.GetDescription(Model.SelectedAreas[i]);
            string value = ((int)Model.SelectedAreas[i]).ToString();
            <li>
                <input type="checkbox" name="selectedAreas" value="@value" />
                @Html.Label(Name)
            </li>
        }
    </ul>
</fieldset>
<fieldset class="haslegend">
    <legend>Essay</legend>
    <span class="legend">Essay</span>
    <div class="fieldblock">
        @Html.LabelFor(m => m.Charity.Essay)
        @Html.TextAreaFor(m => m.Charity.Essay, new { rows = "10", cols = "100" })
    </div>
    <div class="align-center">
        <input type="submit" value="Submit" />
    </div>
</fieldset>
</form>